.model{
    background: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    overflow: hidden;
}
#model1{
    width: 100%;
    height: 170px;
    background: url(../../../imgs/model1.png) no-repeat;
    background-size: cover;
}
#model2{
    width: 100%;
    height: 170px;
    background: url(../../../imgs/model2.png) no-repeat;
    background-size: cover;
}
#model3{
    width: 100%;
    height: 170px;
    background: url(../../../imgs/model3.png) no-repeat;
    background-size: cover;
}
.modelText{
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 170px;
}