.model1{
    color:rgba(255, 223, 37);
    font-weight: 600;
}
.model2{
    color:#304FFE;
    font-weight: 600;
}
.model3{
    color:#6200EA;
    font-weight: 600;
}
.descriptionSpan{
    color:black;
    font-weight: 600;
}